<div class="container">

<form class="url_shorten">
  <input type="text" name="url">
  <input type="submit" value="Shortify">
</form>

<p><span id="original_url"></span></p>
<a id="short_link" href=''></a>

</div>
